@charset "utf-8";
/* CSS Document */

header {
	background-color:#FBEAF6;
	text-align: center;
	padding: 20px;
}

.logo{
	padding:0;
}

h1 {
	color:#E04AB6;
	font-size: 50px;
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	text-align: center;
	padding: 10px;
	background-color:#FBEAF6;
}

h2 {
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	text-align: center;
}

h4 {
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	color:#E04AB6;
	font-size: 30px;
	text-align: center;
}

h5 {
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	font-size: 20px;
	text-align: center;
	padding: 200px, 100px;
}

nav ul {
	list-style-type: none;
	padding: 0;
}

nav ul li{
	display: inline;
	margin-right: 10px;
}

nav ul li a {
	text-decoration: none;
	color:#E04AB6;
	font-size: 25px;
	font-weight: bold;
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
}

p {
	text-align: center;
	font-size: 20px;
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
 
}

.papercat {
	padding: 60px 270px;

}
.profile {
	padding: 100px, 70px;
	align-items: center;
}

footer {
	color: #61594C;
	text-align: center;
	padding: 10px;
	background-color:#70A7EA;
	
}




